<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG" parallel="tests" thread-count="2" verbose="1" >
    <listeners>
        <listener class-name="util.listeners.TestListener"/>
        <listener class-name="util.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="TestNG Group1">
        <parameter name="baseURL" value="https://qa.koel.app/"/>
        <classes>
            <class name="testcases.FavoritesTests"/>
            <class name="testcases.HomeTests"/>
            <class name="testcases.CurrentQueueTests"/>
        </classes>
    </test>
    <test name="TestNG Group2">
        <parameter name="baseURL" value="https://qa.koel.app/"/>
        <classes>
            <class name="testcases.AllSongsTests"/>
            <class name="testcases.AlbumsTests"/>
            <class name="testcases.ArtistsTests"/>


        </classes>
    </test>
</suite>